body{
background-color:orange;
}
h2{
color: red;
}
div .form {
width: 400px;
border: 20px solid black;
margin:20px;

}
.modal {
  position: fixed;
  z-index: 2;
  transform: translateX(35vw);
  background-color: white;
  margin-top: 250px;
  display:none;
}
